@import '../../styles/variables';
@import '../../styles/mixins';

%body-style {
    border-radius: 5px;
    flex-direction: column;
}

%dropdown-style {
    .btn-primary {
        background-color: transparent !important;
        border-color: transparent !important;

        &::after {
            content: none !important;
        }
    }
}

.top-bar {
    position: fixed;
    top: 0;
    border-left: none !important;

    z-index: 4;
    width: 81vw;

    .right-items {
        .notifications {

            .dropdown {
                @extend %dropdown-style;

                .badge {
                    top: auto !important
                }

            }
        }
        .settings {
            .dropdown {
                @extend %dropdown-style;

                .profile-img {
                    position: relative;
                    border-radius: 50%;
                    cursor: pointer;
                }

                .dropdown-menu {
                    a {
                        @include links;

                        &:active {
                            background-color: $primary-color !important; // Clicked color
                        }
                    }
                }
            }
        }
    }

    .left-items {
        .search {
            border: 1px solid $light-gray !important;

            .input-group-text {
                border: none !important;
                background-color: $white-color !important;
            }

            .form-control {
                border: none !important;
            }
        }
    }
}

.search-result nav {
    .nav-item {
        &:hover {
            background-color: $white-color ;
        }

        ul {
            list-style-type: none;
        }

        a {
            color: $black-color;
            text-decoration: none !important;

            &:hover {
                color: $primary-color !important;
            }
        }
    }


}