


$sideBarBoxShadow : 0 0 20px 0.1px rgba(0, 0, 0, 0.1);
$topBarBoxShadow :  0 4px 6px -1px rgba(0, 0, 0, 0.1);



$primary-color : rgb(49, 81, 30);
$secondary-color : rgb(197, 219, 136);

$black-color :rgb(28, 28, 28);
$jet-black : rgb(38, 39, 41);
$white-color: rgb(255,255,255);

$dark-gray : #acabab;
$light-gray : rgb(241, 237, 237);

$blue-color:#038edc;

$border :1px solid #ccc;